body {
    background-color: #f5f6fc;
}

.intro-bg {
    background: url(../img/curiosities/Trolltunga.jpg) no-repeat center;
    height: 250px;
    width: 100%;
    background-size: cover;
    margin-bottom: 20px;
}

.intro-bg h1 {
    padding-left: 10px;
    text-align: left;
    padding-top: 105px;
    padding-bottom: 105px;
    opacity: 0.85;
}

.curiosity img {
    border: 3px solid #a8a0a8;
    max-width: 100%;
}

.curiosity {
    margin-bottom: 40px;
}

.curiosity h2 {
    margin: 20px 10px;
}

.curiosity p {
    margin: 0 10px;
    margin-bottom: 10px;
}

figure {
    display: table;
    margin: 0 10px;
}

figure figcaption {
    display: table-caption;
    text-align: center;
    caption-side: bottom;
    font-style: italic;
    font-size: 0.75em;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    color: #5b584f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}

.figure-left {
    margin-top: 20px;
    max-width: 460px;
    float: left;
}

.text-left {
    max-width: 460px;
    float: left;
}

.figure-right {
    margin-top: 20px;
    max-width: 460px;
    float: right;
}

.text-right {
    max-width: 460px;
    float: right;
}

.division::after, .division::before {
    content: '';
    display: table;
    clear: both;
}

.text-rectangle {
    max-width: 540px;
}

.figure-rectangle {
    max-width: 380px;
}

.curiosity .division:last-of-type {
   padding-bottom: 10px;
}

footer {
    margin-top: 40px;
}

#img-2 {
    display: none;
}

#img-4 {
    display: none;
}

/*SMARTPHONES*/
@media only screen and (max-width: 767px){
    .menu, .container {
        width: 300px;
    }

    .container img {
        width: auto;
    }

    .intro-bg h1 {
        text-align: center;
        font-size: 2em;
        letter-spacing: 2px;
        padding-left: 0;
        padding-top: 109px;
        padding-bottom: 109px;
    }

    #img-1 {
        display: none;
    }

    #img-2 {
        display: block;
    }

    #img-3 {
        display: none;
    }

    #img-4 {
        display: block;
    }

}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

    .text-left, .text-right, .text-rectangle {
        max-width: none;
        float: none;
    }

    .figure-left, .figure-right, .figure-rectangle {
        float: none;
        margin: 0 auto;
    }
}