* {
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

p {
    color: #5b584f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 24px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: #e5e8ef;
    height: 80px;
}

.menu a img {
    margin-top: 15px;
}

.menu nav {
    padding-top: 34px;
    float: right;
}

.menu nav li {
    display: inline-block;
}

.menu nav li a {
    text-decoration: none;
    color: #a8a0a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding-left: 50px;
}

.slide {
    height: 500px;
    width: 100%;
    background: url(../img/index/finland-slide.jpg) no-repeat center;
    background-size: cover;
}

.intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.75em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}

.intro div p {
    margin-top: 20px;
}

.intro img {
    float: left;
    border:3px solid #a8a0a8;
}

.intro .text2 {
    margin-top: 20px;
}

.intro .text2 p {
    width: 460px;
    float: right;
    margin-top: 0px;
}

.intro::after, .intro::before {
    content: '';
    display: table;
    clear: both;
}


