/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS PADRAO*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

p {
    color: #5b584f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 24px;
}

ul {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background: #e5e8ef;
    height: 80px;
    z-index: 0;
}

.menu a {
    display: inline-block;
}

.menu a img {
    margin-top: 15px;
    margin-left: 10px;
}

.menu nav {
    float: right;
}

.menu nav li {
    display: inline-block;
    transition: background-color 0.5s ease;
    position: relative;
    text-align: center;
    width: 150px;
}

.menu nav li a {
    text-decoration: none;
    color: #a8a0a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding: 32px 10px;
}

.menu nav li:hover {
    background-color: #d6bfc0;
}

.menu nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    transition: all .5s ease;
}

.menu nav li:hover ul {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.menu nav li ul li {
    float: none;
    width: 100%;
    background: #e5e8ef;
}

.slide {
    height: 500px;
    width: 100%;
    background: url(../img/index/finland-slide.jpg) no-repeat center;
    background-size: cover;
}

.menu:after, .menu:before {
    content:'';
    display: table;
    clear: both;
}


/*SMARTPHONES*/
@media only screen and (max-width: 767px) {

    header {
        height: 220px;
    }
    .menu a {
        display: block;
        text-align: center;
    }

    .menu a img {
        margin: 15px auto 0 auto;
    }

    .menu nav {
        padding-top: 20px;
        margin: 0 auto;
        float: none;
    }

    .menu nav li {
        width: 100%;
        padding-bottom: 10px;
    }

    .menu nav li a:hover {
        background-color: #d6bfc0;
    }

    .menu nav li:hover {
        background-color: transparent;
    }

    .menu nav li a {
        border: 3px solid #a8a0a8;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: #a8a0a8;
        margin: 0;
        padding: 0;
    }
 
    .menu nav li:hover ul {
        top: 40px;
    }
    
    .menu nav li ul li {
        padding-top: 10px;
    }

    .menu nav li ul li a {
        text-indent: 85px;
        margin-left: 40px;
    }

    .menu nav li ul li:hover {
        background: #d6bfc0;
    }

    .menu nav #norway {
        width: 80px;
        background: url(../img/index/norway-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #sweden {
        width: 80px;
        background: url(../img/index/sweden-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #denmark {
        width: 80px;
        background: url(../img/index/denmark-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #finland {
        width: 80px;
        background: url(../img/index/finland-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #iceland {
        width: 80px;
        background: url(../img/index/iceland-flag.jpg) no-repeat center;
        background-size: cover;
    }
}

/*INTRODUCTION*/

.intro {
    background: #f5f6fc;
    position: relative;
    padding-bottom: 40px;
}

.intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.75em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}

.intro p {
    margin: 20px 10px 0 10px;
}

.intro .img {
    max-width: 100%;
    margin: 20px 10px 0 10px;
    float: left;
}

.intro .img img {
    border: 3px solid #a8a0a8;
}

.intro .img p {
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
}

.intro::after, .intro::before {
    content:'';
    display: table;
    clear: both;
}

.intro .side {
    display: block;
    margin: 0 0 0 10px;
    position: absolute;
    float: right;
    max-width: 100%;
    padding-left: 470px;
}

.intro .side p {
    max-width: 460px;
    margin-top: 16px;
    margin-bottom: 75px;
}

.btn a {
    border: 3px solid #d6bfc0;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #d6bfc0;
    padding: 10px 17px 10px 23px;
}

.btn p {
    margin-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    line-height: 15px;
}

.intro .side .btn p {
    margin: 20px 15px 15px 15px;
}

.btn a:hover {
    border: 3px solid #5b584f;
    color: #5b584f;
}

.intro .side a {
    margin-left: 160px;
}

/*SMARTPHONES*/
@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }

    .menu a img {
        width: 124px;
    }

    .intro h1 {
        font-size: 1.875em;
    }

    .intro .img p, img {
        width: 280px;
        margin: 0;
    }

    .intro .img p {
        padding: 0;
    }

    .intro .side {
        max-width: 300px;
        padding: 0;
        display: inline-block;
        position: static;
    }

    .intro .side p {
        margin: 10px;
    }

    .intro .side .btn a {
        display: block;
        width: 280px;
        margin: 0  10px;
    }

    .intro .side .btn p {
        margin: 5px 10px 10px 10px;
    }

}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
    .intro .img img {
        width: 380px;
        margin: 10px 0 0 0;
        float: left;
    }

    .intro .img p {
        display: block;
        margin: 10px auto;
        width: 380px;
        max-width: 100%;
    }

    .intro .side {
        margin-top: 18px;
        padding-left: 380px;
    }

    .intro .side p {
        max-width: 540px;
        margin-top: 7px;
        margin-bottom: 15px;
    }

    .intro .side .btn a {
        display: block;
        margin: 0 10px 0 10px;
    }

    .intro .side .btn p {
        margin-top: 5px;
    }

}

/*MEMBERS*/
.members {
    margin-bottom: 60px;
}

.members h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}
.members h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #d6bfc0;
    margin: 5px auto;
    margin-bottom: 40px;
}

.members h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.875em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    background: #a8a0a8;
}

.country {
    border-left: 3px solid #a8a0a8;
    border-right: 3px solid #a8a0a8;
    border-bottom: 35px solid #a8a0a8;
    margin: 0 10px 40px 10px;
    position: relative;
}

.country img {
    max-width: 300px;
    float: left;
}

.country:after, .country::before {
    content: '';
    display: table;
    clear: both;
}

.country .text-side {
    position: absolute;
    float: right;
    max-width: 100%;
    padding-left: 300px;
}

.text-side p {
    margin: 10px;
}

.country .btn a {
    display: block;
    margin: 0 210px;
}

/*SMARTPHONES*/
@media only screen and (max-width: 767px) {
    .members h2 {
        font-size: 1.875em;
        letter-spacing: 3px;
    }
    
    .members h3 {
        font-size: 1.5em;
        width: 280px;
        border-bottom: 280px;
    }

    .country {
        margin: 0 5px 40px 10px;
        border-bottom: 0px;
    }

    .country .img img {
        display: inline-block;
        max-width: 100%;
        width: 280px;
        float: none;
    }

    .country .text-side {
        position: static;
        padding: 0px;
    }
 

    .country .btn a {
        display: block;
        margin: -3px;
        border: 3px solid #a8a0a8;
        background: #a8a0a8;
    }

    .country .btn a:hover {
        background: white;
    }
    
    .country .btn p {
        display: block;
        padding: 3px;
        margin: -3px;
        border: 3px solid #a8a0a8;
        background: white;
    }
    
}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .country .btn a {
        display: block;
        margin: 0px 10px;
    }

    .country .text-side p {
        font-size: 0.875em;
        margin: 10px 10px 3px 10px;
    }

    .country .btn a + p {
        font-size: 0.75em;
        margin-top: 3px;
    }

}

/*INFORMATIONS*/
.infos {
    background: #f5f6fc;
}

.infos h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}
.infos h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #d6bfc0;
    margin: 5px auto;
    margin-bottom: 40px;
}

.infos ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 10px;
    color: #5b584f;
    list-style-type: none;
}

.infos ul {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.infos ul li {
    margin: 10px;
}

.infos img {
    width: 460px;
    margin: 0 10px;
    float: left;
}

.infos::after, .infos::before {
    content: '';
    display: table;
    clear: both;
}

.infos .btn a {
    max-width: 100%;
    display: inline-block;
    margin: 10px 10px 10px 135px;
}

.infos .btn p {
    width: 460px;
    display: inline-block;
    margin: 0 auto;
    float: none;
    padding-bottom: 80px;
}

/*SMARTPHONES*/
@media only screen and (max-width: 767px) {
    .infos h2 {
        font-size: 1.875em;
        letter-spacing: 3px;
    }

    .infos img {
        display: none;
    }

    .infos ul {
        max-width: 300px;
        float: none;
        margin-bottom: 20px;
    }

    .infos ul li {
        font-size: 1.5;
        letter-spacing: normal;
    }

    .infos .btn a {
        max-width: 300px;
        display: inline-block;
        margin: 10px;
        display: block;
        margin: 0 auto;
    }

    .infos .btn p {
        max-width: 300px;
        display: block;
        margin-top: 10px;
        padding-bottom: 80px;
    }

}

/*TABLETS*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .infos ul {
        margin: 0 auto;
        float: none;
        padding-bottom: 20px;
    }

    .infos img {
        display: none;
    }

    .infos .btn a {
        max-width: 460px;
        display: block;
        margin: 0 auto;
    }
    .infos .btn p {
        display: block;
        margin-top: 10px;
        padding-bottom: 80px;
    }

}

/*FOOTER*/
.footer {
    height: 80px;
    background: #e5e8ef;
}

.footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    line-height: 20px;
    text-align: center;
    padding: 15px 0;
}

.footer p a:link {
    text-decoration: none;
}

.footer p a:visited {
    text-decoration: none;
    color: #5b584f;
}