/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS PADRAO*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.75em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.875em;
    text-transform: uppercase;
    color: #5b584f;
    text-align: left;
}

p {
    color: #5b584f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 24px;
}

ul {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background: #e5e8ef;
    height: 80px;
    z-index: 0;
}

.menu a {
    display: inline-block;
}

.menu a img {
    margin-top: 15px;
    margin-left: 10px;
}

.menu nav {
    float: right;
}

.menu nav li {
    display: inline-block;
    transition: background-color 0.5s ease;
    position: relative;
    text-align: center;
    width: 150px;
}

.menu nav li a {
    text-decoration: none;
    color: #a8a0a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding: 32px 10px;
}

.menu nav li:hover {
    background-color: #d6bfc0;
}

.menu nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    transition: all .5s ease;
}

.menu nav li:hover ul {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.menu nav li ul li {
    float: none;
    width: 100%;
    background: #e5e8ef;
}

.slide {
    height: 500px;
    width: 100%;
    background: url(../img/index/finland-slide.jpg) no-repeat center;
    background-size: cover;
}

.menu:after, .menu:before {
    content:'';
    display: table;
    clear: both;
}


/*SMARTPHONES*/
@media only screen and (max-width: 767px) {

    header {
        height: 220px;
    }
    .menu a {
        display: block;
        text-align: center;
    }

    .menu a img {
        margin: 15px auto 0 auto;
    }

    .menu nav {
        padding-top: 20px;
        margin: 0 auto;
        float: none;
    }

    .menu nav li {
        width: 100%;
        padding-bottom: 10px;
    }

    .menu nav li a:hover {
        background-color: #d6bfc0;
    }

    .menu nav li:hover {
        background-color: transparent;
    }

    .menu nav li a {
        border: 3px solid #a8a0a8;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        color: #a8a0a8;
        margin: 0;
        padding: 0;
    }
 
    .menu nav li:hover ul {
        top: 40px;
    }
    
    .menu nav li ul li {
        padding-top: 10px;
    }

    .menu nav li ul li a {
        text-indent: 85px;
        margin-left: 40px;
    }

    .menu nav li ul li:hover {
        background: #d6bfc0;
    }

    .menu nav #norway {
        width: 80px;
        background: url(../img/index/norway-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #sweden {
        width: 80px;
        background: url(../img/index/sweden-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #denmark {
        width: 80px;
        background: url(../img/index/denmark-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #finland {
        width: 80px;
        background: url(../img/index/finland-flag.jpg) no-repeat center;
        background-size: cover;
    }

    .menu nav #iceland {
        width: 80px;
        background: url(../img/index/iceland-flag.jpg) no-repeat center;
        background-size: cover;
    }
}

/*FOOTER*/

.footer {
    height: 80px;
    background: #e5e8ef;
}

.footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.75em;
    line-height: 20px;
    text-align: center;
    padding: 20px 0;
}

.footer p a {
    color: #5b584f;
    font-weight: bold;
}

.footer p a:link {
    text-decoration: none;
}

.footer p a:visited {
    text-decoration: none
}