* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0px;
    padding: 0px;
}

p {
    color: #5b584f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125em;
    line-height: 24px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: #e5e8ef;
    height: 80px;
}

.menu a img {
    margin-top: 15px;
}

.menu nav {
    padding-top: 34px;
    float: right;
}

.menu nav li {
    display: inline-block;
}

.menu nav li a {
    text-decoration: none;
    color: #a8a0a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    padding-left: 50px;
}

.slide {
    height: 500px;
    width: 100%;
    background: url(../img/index/finland-slide.jpg) no-repeat center;
    background-size: cover;
}

.intro {
    background: #f5f6fc;
    padding-bottom: 80px;
}

.intro h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.75em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}

.intro div p {
    margin-top: 20px;
}

.intro .img {
    width: 460px;
    margin-top: 20px;
    float: left;
}

.intro .img img {
    border: 3px solid #a8a0a8;
}

.intro .img p {
    text-align: center;
    font-style: italic;
    font-size: 0.75em;
    padding-top: 0px;
    margin-top: 0px;
}

.intro::after, .intro::before {
    content:'';
    display: table;
    clear: both;
}

.intro .side {
    width: 460px;
    float: left;
    margin-left: 20px;
}

.intro .side p {
    margin-top: 16px;
}

.members h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.25em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    margin-top: 40px;
}
.members h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    background: #d6bfc0;
    margin: 5px auto;
    margin-bottom: 40px;
}

.members h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.875em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d6bfc0;
    text-align: center;
    background: #a8a0a8;
}

.country {
    border-left: 3px solid #a8a0a8;
    border-right: 3px solid #a8a0a8;
    border-bottom: 35px solid #a8a0a8;
    margin-bottom: 40px;
}

.country p {
    float: right;
    max-width: 620px;
    margin: 0px;
}

.country img {
    width: 300px;
    float: left;
}

.country:after, .country::before {
    content: '';
    display: table;
    clear: both;
}





